<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
    <!-- <link rel="stylesheet" href="/css/restaurants.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/cuisines">All Cuisines</a>
      <a href="/cuisines/new">New Cuisine</a>
      |
      <a href="/restaurants">All Restaurants</a>
      <a href="/restaurants/new">New Restaurant</a>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
