<h1>Games on rails</h1>
<p>
  <a href="/games/magic_8_ball">Magic 8 Ball</a>
</p>
<p>
  or
</p>
<p>
  <a href="/games/secret_number">Secret Number
  </a>
</p>
<p>
  or
</p>
<p>
  <a href="/games/rock_paper_scissors">Rock Paper Scissors
  </a>
</p>
