<!DOCTYPE html>
<html>
  <head>
    <title>Rail Games!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>
  <nav>
    <a id=mainnav href="/">HOME</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>