<h2>NEW potato</h2>

<form action ="/potatoes" method="post">
  <label>
  Name:
  <input name="name" placeholder="Gaudy Commodore" required>
  </label>
  <label>
  Family:
  <input name="family" placeholder="Nymphalidae">
  </label>
  <label>
  Image:
  <input name ="image" placeholder="http://...">
  </label>
  <button>Create</button>

</form>