<h2>Guess a Number</h2>

<form action='/guess_number/result'>

  <label class = "question">
    Guess the secret number between 0 and 100:
    <input name="number" placeholder="number" required>
  </label>

  <p>
    <button>Check Result</button>
  </p>
</form>

<%= image_tag "image1.jpeg" %>
