<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Judge A Book By Its Cover</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class = "container">
    <h1>Shallow Books</h1>
    <h3>Welcome to the only library where choosing a book based solely on its cover is completely acceptable!</h3>
    <h4>Don't worry, no one's watching...</h4>
    <nav>
      <a href="/">Take Me Home</a>
    </nav>
    <%=yield%>
  </div>
</body>
</html>
