<h1 id=secretnumber> Guess the lucky number </h1>

<a href ="/secretnumberanswer"class="numbers">1</a>
<a href="/secretnumberanswer"class="numbers">2</a>
<a href="/secretnumberanswer"class="numbers">3</a>
<a href="/secretnumberanswer"class="numbers">4</a>
<a href="/secretnumberanswer"class="numbers">5</a>
<a href="/secretnumberanswer"class="numbers">6</a>
<a href="/secretnumberanswer"class="numbers">7</a>
<a href="/secretnumberanswer"class="numbers">8</a>
<a href="/secretnumberanswer"class="numbers">9</a>
<a href="/secretnumberanswer"class="numbers">10</a>