@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,400;1,700&display=swap');

body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #2D2D2D;
}

h2{
  margin: 0 auto;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  background-color: #F4F4F2;
  padding: 10px;
}

.background {
  height: 400px;
  background-image: url("/images/main-background.jpg");
  background-size: cover;
  opacity: 0.8;
  font-family: 'Bangers', cursive;
  color: white;
  width: 100%
}

nav {
  padding: 15px;
  background-color: #E23744;
  color: white;
}

nav a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

nav a:hover{
  box-shadow: inset 0 0 10px #000000;
  padding: 20px 5px 16px 5px;
}

.background h1{
  position: absolute;
  left: 35%;
  top: 25%;
  font-size: 4em;
}

.background h2{
  position: absolute;
  top: 38%;
  left: 42%;
  font-family: 'Open Sans', sans-serif;
}

.intro_p{
  padding: 30px 30px 400px 30px;
  line-height: 1.5;
  background-color: white;
  margin-top: 0;
}

.index_list {
  padding: 10px;
}

.index_list a{
  text-decoration: none;
  color: black;
}

.index_list a:hover {
  color: #E23744;
}

form{
  font-size: 18px;
}

input{
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  border: 1px solid #E23744;
}

label{
  display: block;
  padding: 10px;
}

button{
  padding: 8px;
  border-radius: 9px;
  margin-top: 15px;
}

button:hover{
  background-color: #E23744;
  color: white;
  border: none;
}

.feature{
  max-width: 100%;
  margin-top: 20px;
}

.controls a{
  padding: 8px;
  margin: 5px;
  border: 2px solid #E23744;
  border-radius: 10px;
  text-decoration: none;
  color: #E23744
}

.control a:hover{
  background-color: #E23744;
  color: white;
}
