<p>Select a specific type of pet:</p>

<form action="/pets/filter" method="post">
  <label for="pets">Choose a pet type:</label>
  <select name="type">
    <option name="type">cat</option>
    <option name="type">dog</option>
    <option name="type">bunny</option>
    <option name="type">amphibiban</option>
  </select>
  <button> Search!</button>
</form>
