<h2>Registering your Pets:</h2>

    <form action="/pets" method="post">
      <label>
        Name:
        <input class="input" name="name" placeholder="McFluffy" required>
      </label>

      <label>
        Type:
        <input class="input" name="type" placeholder="cat, dog, fish">
      </label>

      <label>
        Breed:
        <input class="input" name="breed" placeholder="Ragdoll, Pug, Goldfish">
      </label>

      <label>
        Gender:
        <input class="input" name="gender" placeholder="Male/ Female">
      </label>

      <label>
        Age:
        <input class="input" name="age" placeholder="2">
      </label>

      <label>
        Image:
        <input class="input" type="url" name="image" placeholder="http://...">
      </label>

      <button>Register pet</button>
    </form>
