<h2>New Country</h2>
<form action="/countries" method="post">
  <div>
    <label>
      Name of Country:
      <input name="name" placeholder="country name" required>
    </label>
  </div>

  <div>
    <label>
      Capital city:
      <input name= "capital_city" placeholder="capital">
    </label>
  </div>

<div>
  <label>
    Population:
    <input name="population" placeholder="123">
  </label>
</div>

<div>
  <label>
    Land area:
    <input name="land_area"placeholder="123 km2">
  </label>
</div>

<div>
  <label>
    World share
    <input name="world_share" placeholder="12%">
  </label>
</div>

<div>
  <label>
    Image
    <input type="url" name = "image" placeholder="http://....">
  </label>
</div>

<div>
  <button>Enter</button>
</div>

</form>
