<h1>Make your choice</h1>

<form action="/game/check">
  <input type="radio" name="choice" value="rock" required>
  <img src="/assets/rock.gif" alt="" />
  <input type="radio" name="choice" value="paper" required>
  <img src="/assets/paper.gif" alt="">
  <input type="radio" name="choice" value="scissors" required>
  <img src="/assets/scissors.gif" alt="">

  <button>Challenge!</button>

</form>
