<h1>Rock paper Scissors Game</h1>
<form action="/rps_result">
  <select name="guess">
    <option value="rock">rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>
  <button>check</button>
</form>
