
<div class="home">

<h1>Games Directory</h1>
<a href="/magic8/:input" class="homenav">Magic 8 Ball</a>
<p> </p>
<a href="/secret" class="homenav">Secret Number</a>
<p> </p>
<a href="/rps" class="homenav">Rock Paper Scissors</a>
</div>