<h2>New Book</h2>

<form action="/books" method="post">
    <label>
        Title:
        <input name="title" placeholder="Please enter book title" required>
    </label>

    <label>
        Author:
        <input name="author_id" placeholder="Please enter author name">
    </label>

    <label>
        Cover:
        <input name="cover" type="url" placeholder="http://...">
    </label>   

    <button>
        Create book
    </button>
</form>