<h2>Add Pools</h2>

<p>If you've discovered a new ocean pool, we'd love for you to add it here for others to explore!</p>

<form action="/ocean_pools" method = "post">

  <label>
    Pool Name:
    <input name = "name" placeholder = "Bronte Rock Pool" required>
  </label>
  <label>
    Location (State):
    <input name = "state" placeholder = "New South Wales" required>
  </label>
  <label>
    Image URL:
    <input name = "image" placeholder = "http://pool_image.jpeg">
  </label>
  <label>
    Description:
    <input name = "description" placeholder = "Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
  </label>

  <button>Add My Pool</button>


</form>
