<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books I</title>
<link rel="stylesheet" href="/css/books.css">
</head>
<body>

  
  <nav>
    <a href ="/">Home</a>
  </nav>
  <div class="container">
    <h1></h1>
    <div> 
    <!-- content goes here -->
    <%= yield %>
    <!-- content end -->
    </div>
  </div>
  
</body>
</html>