<h2>New Movie</h2>

<form action="<%= movies_path %>" method="post">

  <label>
    Name:
    <input type="text" name="name" >
  </label>

  <label>
    Director:
    <input type="text" name="director" >
  </label>

  <label>
    Producer:
    <input type="text" name="producer" >
  </label>

  <label>
    Language:
    <input type="text" name="language" >
  </label>

  <label>
    Country:
    <input type="text" name="country" >
  </label>

  <label>
    Release_date:
    <input type="text" name="release_date" >
  </label>

  <label>
    Starring:
    <input type="text" name="starring" >
  </label>

  <label>
    Image:
    <input type="url" name="image" >
  </label>

  <div class="btn">
    <button>Add Movie</button>
  </div>
  
</form>
