<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Goole Book Search:</h1>
      <form action='/search'>
        <label> Book Title:
          <input type="text" name="title" placeholder="jaws" required>
        </label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
