<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock-Market</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
    <a href="/">Home</a>
    </nav>
    <img src="<%= cover %>" alt="title">
    <h2> <%= author %></h2>

  </body>
</html>
