* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 20px 20px 20px 0;
}
#wrapper {
  width: 100%;
  background-color: black;
  color: white;
}

#container {
  margin: 0 50px;
}

#social-media {
  display: inline-block;
}

.photobanner {
  width: 100%;
}
