<form action="/result">
    <label>
      Book Title:
      <input type="title" name="title" placeholder="Enter A Book Title">
    </label>
    <!-- <label>
      Author:
      <input name="Author" name="Author" placeholder="Author">
    </label>
    <label>
      ISBN:
      <input type="number" name="ISBN" placeholder="ISBN">
    </label>
    <label> -->

    <button>Search</button>
  </form>
