<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Google Book Search</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Placeholder</a></li>
      <li><a href="/">Placeholder</a></li>
    </ul>
  </nav>
  <h1>Google Book Search</h1>
  <div id="content">

  <%= yield %>

  </div>
</body>
</html>
