<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Info</title>
  <link rel="stylesheet" href="/css/books.css">
</head>
    <body>
        <div id="container">
        <nav>
            <a href="/">Home</a>
        </nav>
        <h1> Find Books Cover </h1>
        <!--Content goes here-->
        <%= yield %>
        <!--Content end-->
        <div><!--cotainer ends here-->
        <footer>
        &copyright @ BhavyaGovind
        </footer>
    </body>
</html>