<h2>New Chip</h2>
<form action="">
  <label>
    Flavour
    <input type="text">
  </label>
  <label>
    Weight
    <input type="text">
  </label>
  <label>
    Price
    <input type="text">
  </label>
  <label>
    Image
    <input type="text">
  </label>
  <button>Add Chip</button>
</form>
