<h1>Smith's Chips World</h1>
<h3>AUSTRALIAN MADE</h3>
<p>Smith’s manufactures the majority of its products in its factories located in Australia. Most major raw materials like potatoes* and corn are also sourced locally from growers around Australia.</p>
