<h1>Hello Dear Orophile</h1>
<h3><em>Orophile - A lover of mountains</em></h3>
<h4><strong>Oro <em>(noun)</em>; greek for "Mountain"  &  - philia <em>(verb)</em>; to love something</strong></h4>

<h2>We hope that you find your peak experience on this Australian Mountain fansite <em>*pun intended*</em></h2>

<p>We love mountains because they're not just funny, but they're are hill-areas</p>

<%= image_tag "cover.gif" %>
