<h2>New Author</h2>

<form action="/authors" method="post">

  <label>
    Name:
    <input first_name="first_name" placeholder="first name" required>
  </label>

  <label>
    Name:
    <input last_name="last_name" placeholder="last name" required>
  </label>

  <button>Create Author</button>

</form>
