<h2><%= @author.first_name %><%= @author.last_name %></h2>



<div class="controls">
  <a href="/authors/<%= @author.id %>/edit">Edit Author</a>
  <a href="/authors/<%= @author.id %>/delete">Delete Author</a>
</div>
