<h2>New Book</h2>

<form action="/books/" method="post">

  <label>
    Name:
    <input name="title" placeholder="some book" required>
  </label>

  <label>
    Family:
    <input name="author" placeholder="some author">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Book</button>

</form>
