<h2>Rock Paper Scissors</h2>

<h3>Please choose</h3>

<p><a href="/rock_paper_scissors/rock">Rock</a></p>
<p><a href="/rock_paper_scissors/paper">Paper</a></p>
<p><a href="/rock_paper_scissors/scissors">Scissors</a></p>