<h1>Secret Number</h1>

<form action="/secret_number/result">
  <label>
    Pick a Number:
    <select name="numbs">
      <option>Select a Number</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
      <option value=10>10</option>
    </select>
  </label>

  <button>Make Your Guess</button>

</form>
