<div class="games_home_page">
  <ul>
    <li><a href="/magic_ball">Magic 8-ball</a></li>
    <li><a href="/secret_number">Secret Number</a></li>
    <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>
</div>
