<h1> Magic 8 Ball </h1>

<form action='/result'>
<label>
  Type your question here:
  <input name="question">
</label>
<button> Submit </button>

</form>

<img src="https://media2.giphy.com/media/l0Iy3EhVBViED156g/giphy.gif?cid=ecf05e47kjy2e4hsbhumuinlvo8qce39ubleuimgdnt1k24l&rid=giphy.gif&ct=g" alt="redhead with magic 8 ball looking disappointed">
