<nav>
  <a href="/"> Home </a>
</nav>

<h1> Magic 8 Ball </h1>

<p>
<strong> You asked:</strong>
<br>
<%= @question %>
<br>
<br>
<br>
<strong>Magic 8 ball says:</strong>
<br>
<%= @result %>
</p>

<img src="/assets/magicball.jpeg" alt="magic 8 ball">
