<h3>New Ocean</h3>

<form action="<%= oceans_path %>" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>
  <label>
    Image:
    <input type="url" name="image">
  </label>
  <label>
    Area:
    <input type="number" name="area">
  </label>
  <label>
    Volume:
    <input type="number" name="volume">
  </label>
  <label>
    Average Depth:
    <input type="number" name="depth">
  </label>

  <button>Create Ocean</button>
</form>
