<h1> New Bone </h1>

<form action="/bones" method="post">
 <label>
   Name:
   <input name="name" placeholder="L5" required>
 </label>

 <label>
  Region:
  <input name="region" placeholder="Lumbar" required>
 </label>

<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>

<button> Add bone </button>

</form>
