<h1> <%= @bone.name %></h1>

<h2> Region: <%= @bone.region %></h2>

<div class="control">
<a href="/bones/<%= @bone.id %>/edit"> Edit bone </a>
<a href="/bones/<%= @bone.id %>/delete"> Delete bone </a>
</div>
