<h1> New Skeleton </h1>

<form action="/skeletons" method="post">
<label>
  Name:
  <input name="name" placeholder="Appendicular" required>
</label>

<label>
  Position:
  <input name="position" placeholder="Lateral">
</label>

<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>

<button>Add Skeleton</button>

</form>
