<h2>New Mugshot</h2>

<form action="/mugshots/" method="post">

  <label>
    Name:
    <input name="name" placeholder="Bill Gates" required>
  </label>

  <label>
    Crime:
    <input name="crime" placeholder="Crime">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Store Criminal</button>

</form>
