<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/planes.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>Planepedia</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/aircraft">All Aircraft</a>
      <a href="/aircraft/add">Add an Aircraft</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
