<h1>Add an Aircraft</h1>

<form action="/aircraft" method="post">
  <label>
  Manufacturer:
  <input name="manufacturer" placeholder="de havilland" required>
</label>
<label>
  Model:
  <input name="model" placeholder="Beaver" required>
</label>
<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>
<label>
  Description:
  <input name="description" placeholder="An all time great!">
</label>
<button>Add an Aircraft</button>
</form>
