<h2>New Criminal</h2>

<form action="/criminals" method="post">

<label>
  Full name:
  <input name="name" placeholder="John Smith" required>
</label>

<label>
  Crime:
  <input name="crime" placeholder="Theft">
</label>

<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>

<button> Add scumbag </button>

</form>
