@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Raleway&display=swap');

body {
  background-image: url('../images/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 0;
  color: white

}

#container {
  background-color: #f36405;
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  border: 3px inset #f55f00;
}

#welcome_header {
  font-family: 'Cinzel', serif;
  font-size: 43px;
  width: 610px;
  text-align: center;
  margin: 0 auto;
  padding: 35px 0px;;
}


label {
  font-size: 30px;
  display: block;
}

#search-bar {
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  width: 270px;
  padding: 2px 23px 2px 30px;
  margin-top: 25px;
  outline: 0;
  background-color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}

#search-bar:hover, #search_bar:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.button1 {
color: #fff !important;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
text-decoration: none;
background: #06719b;
padding: 12px 20px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button1:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

#checking-transactions {
  margin: 0 auto;
}

td {
  width: 300px;
}
