
<form action="/game/check">
  <label>
    Guess the number:
    <input name="guess" placeholder="5" required>
  </label>

  <label>
    <input type="text" name="number" value=<%= @number %> style="display:none">
  </label>

  <p>
    <button>Check Guess</button>
  </p>

</form>
