<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel</title>
    <link rel="stylesheet" href="/css/vacations.css">
  </head>
  <body>
    <header>
      <img src="/images/logo1.jpg" alt="Travel">
      <h1> Best Locations To Travel </h1>
      <h1>Around the world</h1>
    </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
