<h2>Magic 8 Ball</h2>

<form action='/magic_ball/result'>

  <label class = "question">
    Please write your question below and click on magic 8 ball to see fortune:
    <input name="number" placeholder="text" required>
  </label>

  <a href="/magic_ball/result"> <%= image_tag "magicball2.png" %></a>

</form>
