@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Henny+Penny&display=swap');

body {
  background-image: url('../images/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Griffy', cursive;
  text-align: center;
  margin-top: 0;

}

#container {
  background-color: #ffce30f7;
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  border: 3px inset #dcb32e;
}

#welcome_title {
  font-family: 'Henny Penny', cursive;
  font-size: 43px;
  width: 610px;
  text-align: center;
  margin: 0 auto;
  padding: 35px 0px;;
}

#dragon {
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.cover-image {
  height: 300px;
  margin-top: 15px;
  border: 5px outset gold;
}

.title {
  background-color: brown;
  color: white;
}

label {
  font-size: 30px;
  display: block;
}

#searched_title {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 270px;
  padding: 2px 23px 2px 30px;
  margin-top: 25px;
  outline: 0;
  background-color: #f5f5f5;
  font-family: 'Henny Penny', cursive;
}

#searched_title:hover, #searched_title:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.description {
  width: 600px;
  margin: 30px auto;
}

.button1 {
color: #fff !important;
font-family: 'Henny Penny', cursive;
text-transform: uppercase;
text-decoration: none;
background: #a70619;
padding: 12px 20px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button1:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
