<h1>Pick a Book</h1>

<form action="/result">
  <label for="">
    <input type="text" placeholder="The Sun Also Rises" name="book" required>
  </label>
  <button>Find</button>
</form>


</body>
</html>
