<h1>Add a Mountain</h1>

<form action="<%= mountains_path %>" method="post">

  <label for="">
    Name
    <input name="name">
  </label>

  <label for="">
    Height
    <input type="number" name="height">
  </label>

  <label for="">
    Country
    <input name="country">
  </label>

  <label for="">
    First Climbed By
    <input name="first_climber">
  </label>

  <label for="">
    First Ascent (year)
    <input type="number" name="first_ascent">
  </label>

  <label for="">
    Image
    <input type="url" name="image">
  </label>

  <button>Add a Mountain</button>

</form>
