<h1> New Skeletal Region </h1>

<form action="/skeletal_regions" method="post">
 <label>
   Name:
   <input name="name" placeholder="Thoracic Cage" required>
 </label>

 <label>
  Position:
  <input name="position" placeholder="Anterior" required>
 </label>

<label>
  Image:
  <input type="url" name="image" placeholder="http://...">
</label>

<button> Add region </button>

</form>
