<h2>Add new customer</h2>
<h3>please fill out the form</h3>
<form action="/customers" method="post">

<label>
  First name:
  <input name="first_name" placeholder="first name" required>
</label>

<label>
  Last name:
  <input name= "last_name" placeholder="first name" required>
</label>

<label>
  Gender:
  <input name="gender" placeholder="abc">
</label>

<label>
  Contact:
  <input name="contact_detail" placeholder="123">
</label>

<label>
  Email Address:
  <input name="email"placeholder="acb@">
</label>

<label>
  Home Address
  <input name="address" placeholder="12%">
</label>

<div>
  <button class="submit">Submit</button>
</div>

</form>
