<h1>Secret Number Game</h1>

<h2>Guess my number between 1 and 3: "</h2>
<form action="/secret">
  <label>
    Your Guess?:
    <input name="guess" placeholder="number">
  </label>
  <p>
    <button>Guess</button>
  </p>
</form>
<h2>
  <%= @high %>
  <%= @low %>
  <%= @correct %>
  <img src="<%= @image %>">
</h2>
