<h1>Rock Paper Scissors</h1>

<form action = "/rock_paper_scissors/result">

  <label>
    Pick your poison:
    <select name="choice">
      <option>Select an Object</option>
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    <select>
  <button>Let's Play</button>
</form>
