<h2>New Zodiac</h2>

<form action="/zodiacs" method="post">
  <label>
    Latin Name: 
    <input name="latin_name" required>
    </label>

    <label>
        English Name: 
        <input name="english_name">
    </label>

  <label>
    Symbol: 
    <input name="symbol">
  </label>

    <label>
    Ecliptic Longitude: 
    <input type="number" name="ecliptic_longitude">
  </label>

   <label>
    Image: 
    <input type="url" name="image">
  </label>

  <button>Create zodiac</button>
</form>