<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cover Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <link rel="stylesheet" href="/css/cover_finder.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/cover">Cover</a>
            </nav>
        </header>

        <main>
            <%= yield %>
        </main>

        <footer>
            <p>Copyright 2021</p>
        </footer>
    </div>
    
    
</body>
</html>