<nav>
  <a href="/ask">Ask me again?</a>
</nav>


<div id="eight-ball" class="eight-ball">
     <div class="answer">
       <!-- <p id="eight">8</p> -->
       <p id="answer"><%= @answerArray.sample %></p>
     </div>
   </div>
