<h2>Your question is my command: </h2>

  <label>
    <input type="text" name="qusetion">
  </label>


  <!-- <button>Ask me</button> -->
  <a href="/answer">Ask me</a>

<br>

<img src="/assets/8ball.gif" alt="">
