<h1> GENERAL ASSEMBLY'S <br> MOST WANTED </h1>

<p> Explore this website to find out about some serious criminals and keep us updated on scumbags we may have missed! <br><br>PLEASE!!! </p>

<img src="http://www.gannett-cdn.com/media/2017/04/17/OHGroup/Mansfield/636280378985134059-wanted-crop.jpg?width=660&height=371&fit=crop&format=pjpg&auto=webp" alt="WANTED">
