<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming Bot</title>
  <link rel="stylesheet" href="/css/bot.css">
</head>
    <body>
        <div id="container">
        
        <!--Content goes here-->
        <%= yield %>
        <!--Content end-->
        </div><!--cotainer ends here-->
        <footer>
            <a href='/beck'>(inspiration)</a>
        </footer>
    </body>
</html>