<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/books">All books</a>
                <a href="/books/new">New book</a>
            </nav>
        </header>

        <main>
            <%= yield %>
        </main>

        <footer>
            Copyright 2021
        </footer>
    </div>
</body>
</html>