<div class='row'>
      <div>
        <p class="text">
    	   Refactor the code.
        </p>
      </div>
    </div>

    <div class='row'>
      <ul class="buttons">
    		<li><a class="done btn-large btn-primary" href="/">Done</a></li>


      </ul>
    </div>