<div class='row'>
    <div>
    <p class="text">
        Does the test pass?
    </p>
    </div>
</div>

<div class='row'>
    <ul class="buttons">
    <li>
        <a class="yes btn-large btn-success" href="/refactor">Yes</a>                
        <a class="no btn-large btn-danger" href="/write_code">No</a>
    </li>Ã
    </ul>
</div>