<doctype html>
<html>
<head>
	<title>Pair Programming Bot
	</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" >
</head>

<body>
  <div id='container'>
    <div class='row'>
      <div>
        <p class="linkright">

        <a href="http://pairprogrammingbot.com/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>)

        </p>
      </div>
    </div>

    <%= yield %>
    
    <div>
      <p class="linkleft">
        (<a href="/beck">inspiration</a>)
      </p>
    </div>
  </div>
  </body>
</html>



</html>
