<div class='row'>
      <div>
        <p class="text">
    	   Select a new feature to implement.
        </p>
      </div>
    </div>

    <div class='row'>
      <ul class="buttons">
    		
<li><a class="restart btn-large btn-primary" href="/">Continue</a></li>


      </ul>
    </div>