<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock-Market</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2><%= name %></h2>
    <h2>Market closed at: $<%= stock %></h2>
  </body>
</html>
