<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the world of Stock Market</h1>
      <form action='/search'>
        <label> stock symbol:
          <input type="text" name="symbol" placeholder="GOOG" required>
        </label>
        <button>Get price</button>
      </form>
    </div>
  </body>
</html>
