<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Giphy Search</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/stock">Stock-Quote</a>
      |
      <a href="/gif-search">Giphy Search</a>
    </nav>
    <h1>Search for a Giphy!</h1>

    <form action="giphy-result">
      <label>
        Search:
        <input name="search" placeholder="Search anything" required>
      </label>
      <br>
      <label>
        Number of Gifs:
        <input name="amount" value="10" placeholder="10">
      </label>
      <br>
      <button>Find!</button>
    </form>

  </body>
</html>
