<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/stock">Stock-Quote</a>
      |
      <a href="/gif-search">Giphy Search</a>
    </nav>

    <h1>Hello There!</h1>
    <p>Search for the current price of a stock or find the perfect Giphy to express your emotions</p>
    <img class="welcome" src="<%= image %>" alt="hi">


  </body>
</html>
