<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Stock Price</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/stock">Stock-Quote</a>
      |
      <a href="/gif-search">Giphy Search</a>
    </nav>
    <h1>The current price of <%= symbol.toUpperCase() %> is: </h1>
    <h1><%= price %></h1>

  </body>
</html>
