<div class='row'>
  <div>
    <p class="linkright">
      <a href="http://pairprogrammingbot.com/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>)
    </p>
  </div>
</div>
<div class='row'>
  <div>
    <p class="text">
    </p>
  </div>
</div>
<div class='row'>
  <ul class="buttons">
    <div class='row'>
      <div class="beck_text">
        <p>
          '"[...] you can also use the wonderful technique that Kent Beck taught his daughter Bethany when she was young and wanted to help him. He had her sit with him and watch, and told her to ask, from time to time Do we have a test for that?"'
        </p>
        <p class="beck_citation">-- Ron Jeffries, <a href="http://xprogramming.com">http://xprogramming.com</a>(<a href="http://archives.devshed.com/forums/showpost.php?p=6112182&postcount=12">reference</a>)
        </p>
      </div>
    </div>
    @text =
    <li><a class="restart btn-large btn-primary" href="/">Restart</a></li>
  </ul>
</div>
<div>
  <p class="linkleft">
    (<a href="/beck">inspiration</a>)
  </p>
</div>
