<div class='row'>
  <div>
    <p class="linkright">
      <a href="http://pairprogrammingbot.com/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>)
    </p>
  </div>
</div>
<div class='row'>
  <div>
    <p class="text">
      Do you have a test for that?
    </p>
  </div>
</div>
<div class='row'>
  <ul class="buttons">
    <li><a class="yes btn-large btn-success" href="/pass">Yes</a>                <a class="no btn-large btn-danger" href="/write_test">No</a></li>
  </ul>
</div>
<div>
  <p class="linkleft">
    (<a href="/beck">inspiration</a>)
  </p>
</div>
