.page {
background:url(../images/bg_body.jpg);

}
.container {
width: 800px;
margin: 0 auto;
}

/*-----------------------------------------------------------------------------
 NAV
-----------------------------------------------------------------------------*/

nav {
	width: 100%;
	display: block;
  background-color: black;

}
nav ul li {
	display: inline-block;
	margin-right: 20px;
	}
	nav li a {
	display: inline-block;
	width: 100px;
	padding: 10px 0px;
  text-decoration: none;
  color: #9e9e9e;
  text-shadow: 0 0 3px; /*text shaddow*/
	}
  nav ul {
  height: 60px;
  padding: 20px 0 0 115px;
  position: ;

  }

  /*----------------------------------------------------------------------------
  FOOTER
  -----------------------------------------------------------------------------*/

footer {
  background-color: black;
  height: 20px;
  width: 875px;
}


/*-----------------------------------------------------------------------------
SOCIAL MEDIA
-----------------------------------------------------------------------------*/



#socialMedia {
	float: right;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}

/*-----------------------------------------------------------------------------
TABLE
-----------------------------------------------------------------------------*/

.row {
  display: flex;
  color: #4d4d4d;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*-----------------------------------------------------------------------------
body
-----------------------------------------------------------------------------*/
.click_button {
  display: inline-block;
}
p {
  display: inline-block;
}

.first_paragraph {
  width: 71%
}

.shadow_border {
  border: 1px solid;
  padding: 10px;
  box-shadow: inset 1px 1px #888888;
  border-bottom-color: white;
  border-right-color: white;
  border-top-color: lightgrey;
  border-left-color: lightgrey;
}

.main_image {
  width: 800px;
  vertical-align: text-bottom;
}

.shadow {
  width: 100%;
}
.image_border {
  border: 4px solid #c1bdbf7d;
}

a {
	color:#05adf7;
	text-decoration:none;
}
