<h1>Can you guess the magic number between 1 and 10?</h1>

<form action="/guess_again">
  <label for="">
    Guess a number!
    <input type="text" placeholder="10" name="guess">
  </label>
<button>Ask</button>
</form>
