<h3>Add an Author</h3>

<form action="/authors" method="post">
  <label>
    First Name:
    <input name="first_name" placeholder="Ernest" required>
  </label>
  <label>
    Last Name:
    <input name="last_name" placeholder="Hemingway" required>
  </label>
  <label>
    Award:
    <input type="text" name="award" placeholder="Pulitzer Prize for Fiction">
  </label>
  <label>
    Profile Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Add Author</button>
</form>
