<h1>Welcome to bookpedia</h1>
<p>Bookpedia is your one-stop-shop for the best information on authors and books!</p>
<br>
<a href=""><button class="explore">Explore Books</button></a>
<a href=""><button class="explore">Explore Authors</button></a>
<br>
<br>
<br>
<div class="featured-author">
  <h3>Today's featured author: Robert Caro</h3>
    <img src="https://s.wsj.net/public/resources/images/B3-DQ990_20ODD6_16H_20190409151458.jpg" alt="" class="author-image">
    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div>
    <h4>Robert Caro's Top Books</h4>
    <div class="top-3">
      <h5>#1 The Power Broker</h5>
      <img src="https://www.booktopia.com.au/covers/big/9780394480763/0000/the-power-broker.webp" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus non minus iste, error, distinctio, et ducimus exercitationem quas quia beatae accusantium impedit temporibus obcaecati placeat hic! Cupiditate porro, omnis!</p>
      <a href="">Learn More</a>
    </div>
    <div class="top-3">
      <h5>#2 The Power Broker</h5>
      <img src="https://www.booktopia.com.au/covers/big/9780394480763/0000/the-power-broker.webp" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus non minus iste, error, distinctio, et ducimus exercitationem quas quia beatae accusantium impedit temporibus obcaecati placeat hic! Cupiditate porro, omnis!</p>
      <a href="">Learn More</a>
    </div>
    <div class="top-3">
      <h5>#3 The Power Broker</h5>
      <img src="https://www.booktopia.com.au/covers/big/9780394480763/0000/the-power-broker.webp" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae natus non minus iste, error, distinctio, et ducimus exercitationem quas quia beatae accusantium impedit temporibus obcaecati placeat hic! Cupiditate porro, omnis!</p>
      <a href="">Learn More</a>
    </div>
  </div>
  <br>
  <br>
</div>
