<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/books.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>bookpedia</title>
</head>
<body>
  <nav>
    <div class="nav-container">
      <a href="/">Home</a>
      |
      <a href="/authors">Authors</a>
      |
      <a href="/authors/new">Add an Author</a>
      |
      <a href="/books">Books</a>
      |
      <a href="/books/new">Add a Book</a>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
