<h1>Eight Ball</h1>

<form action="/eight_ball/fortune">
  <label>
    Ask your question:
    <input type="text" placeholder = "Will I get a job?" required>
  </label>

  <button>Ask the Eight Ball</button>

</form>
