
<main>
  <form action="/search">
    <label>

      <input name="title" placeholder="Search for a book here by title" required>
    </label>
    <br>
    <button class="find_button">Find book 🔎</button>
  </form>


</main>
