<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books 📚</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="header">
      <img class="logo" src="/images/logo.jpg">
      <br>
      <h1 id="title">Book Search</h1>
    
      <br>
      <br>
      <nav>
        <a href="/">Home</a>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>



  </body>
</html>
