<h1>Ask the Magic 8 Ball</h1>

<form action="/magicball/answer">
  <label for="">
    Ask a question:
    <input type="text" placeholder="When will I die?" name="question">
  </label>
  <button>Ask</button>
  <div class="ball">
    <h3></h3>
  </div>
</form>
