
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat&display=swap');

body {
  font-family:'Montserrat', sans-serif;
}

body::after {
  background: url(/assets/background.jpg);
  background-size: cover;
  background-position: center;
  content: "";
  opacity: 0.32;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

h1, h2 {
  font-family: 'Julius Sans One', sans-serif;
}

.container {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.thumb {
  width:12em;
}

nav {
  padding: 30px;
  background-color: #55b4f7c9;
}

nav a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
  padding: 8px;

}

a:hover {
  background-color: pink;
}

.feature {
  width: 300px;
}

.product-show {
  text-align: left;
}

ul {
  list-style: none;
  padding: 5px;
}

ul li  {
  padding: 10px;
}
