{
  border: 1px solid limegreen;*/
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 960px; /* lazy responsive container */
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
  /*font-family: 'Libre Baskerville', serif;*/
}

nav {
  text-align: right;
  padding: 15px 70px;
  background-color: black;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 4em;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 400%;
}

main {
  display: inline-block;
  width: 100%;
  padding-right: 1em;
}

h3.quote {
  font-style: italic;
  margin-top: 55px;
}

p.quote {

}
