<h1>Book Cover Finder</h1>

<form action="/books">
  <label for="book"> Input your book: </label>
  <br />
  <input id="book" type="text" name="bookname" placeholder="Harry Potter" autofocus required>
  <button>Your book cover</button>
</form>