
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Cover</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
  </head>
  <body>
    <nav>
      
    </nav>

    <div class = "container">
    <a href="/">HOME</a>
    <%= yield %> <!--content goes here!-->

    </div>
  </body>
  </html>