<h2>New Dog!</h2>
<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="Dog's name">
  <input type="text" name="breed" placeholder="Dog's breed">
  <input type="url" name="image" placeholder="http://...">
<button>Make A New Dog!</button>
</form>