<h1>Enter your question for the Magic 8 Ball</h1>

<form action="/magic/result">
  <label>
    Your Question:
    <input type="search" name="magic_question"
  </label>
  <p>
    <button>Ask</button>
  </p>

</form>
