<form action="/result">
  <label>
    <h2>Book you like</h2>
    <input type="text" placehoder="The kite runner" name = "book_name" required>
  </label>
  <label>
    <button>Submit</button>
  </label>
</form>
